---
layout: default
---

<section class="section-site0">
	<div class="wrapper">
		<img class="foto" src="assets/img/rostro.png">
		<div class="name">
			<div class="first-name">Raúl Andrés</div>
			<div class="last-name">Casanova</div>
			<div class="last-name2">Sosa</div>
			<div class="rif">Rif: V185657678</div>
		</div>
		<div class="cv">Curriculum vitae</div>
		<ul>
			{% for dato in site.data.contacto %}
				{% if dato.tag != 'private' %}
				<li class="icon">{% include iconos/{{ dato.ico }} %} {{dato.desc}}</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
<section>

<section class="section-site1">
	<div class="wrapper">
		<h2>EDUCACIÓN</h2>
		<ul class="lista">
			{% for edu in site.data.educacion %}
				<li class="item">
					<div>{{edu.titulo}}</div>
					<p>{{edu.fecha}} {{edu.institucion}} {{edu.ciudad}}</p>
				</li>
			{% endfor %}
		</ul>
	</div>
<section>

<section class="section-site0">
	<div class="wrapper">
		<h2>EXPERIENCIA</h2>
		<ul class="lista">
			{% for exp in site.data.experiencia %}
				<li class="item">
					<div>{{exp.titulo}}</div>
					<p>{{exp.fecha_in}}{{exp.fecha_out}} {{exp.ciudad}} {{exp.rol}} {{exp.empresa}}</p>
				</li>
			{% endfor %}
		</ul>
	</div>
<section>

<section class="section-site1">
	<div class="wrapper">
		<h2>CURSOS Y EVENTOS</h2>
		<ul class="lista">
			{% for asistente in site.data.cursos %}
				<li class="item">
					<div>{{asistente.titulo}}</div>
					<p>{{asistente.fecha}} {{asistente.lugar}} {{asistente.horas}} {{asistente.institucion}}</p>
				</li>
			{% endfor %}
		</ul>
	</div>
<section>
