<footer class="site-footer section-site0">

  <div class="wrapper centrar">

    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="rrss">
		  {% include icon-gitlab.html username=site.gitlab_username %}
    </div>
    <div class="rrss">
		  {% include icon-twitter.html username=site.twitter_username %}
    </div>
    <div class="rrss">
		  {% include icon-telegram.html username=site.telegram_username %}
    </div>
    <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
    	<img alt="Creative Commons License" style="border-width:0" 
    		src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
    </a>

  </div>

</footer>
