<!--Datos Personales-->
<section class="section-site0">
	<div class="wrapper">
		<img class="foto" 
			src="{% if page.lang != 'ESP' %}../{% endif %}assets/img/rostro.png">
		<div class="name">
			<div class="first-name">Raúl Andrés</div>
			<div class="last-name">Casanova</div>
			<div class="last-name2">Sosa</div>
			<div class="rif">Rif: V185657678</div>
		</div>
    <div class="cv-titulo">
		  <div class="cv">Curriculum vitae</div>
		  <ul class="tarjeta">
		  	{% for dato in site.data.contacto %}
		  		{% if dato.tag != 'private' %}
		  		<li>
                                <article class="item">
                                <figure class="icon icono">{% include iconos/{{ dato.ico }} %}
                                </figure><section class="observacion">{{dato.desc}}</section>
                                </article>
          </li>
		  		{% endif %}
		  	{% endfor %}
		  </ul>
    </div>
    <div><i>bio.</i></div>
    <p class="margen-izq">{{site.data.bio.bio[page.lang]}}</p>
	</div>
</section>

<!--Sec. Educacion-->
<section class="section-site1">
	<div class="wrapper">
		<h2>{{ site.data.secciones.educacion[page.lang] }}</h2>
		<ul class="lista tarjeta">
			{% for edu in site.data.educacion %}
				<li>
                                  <article class="item">
					<header><figure class="icon tinto icono">{% include iconos/{{edu.ico}} %}
					</figure><div class="titulo">{{ edu.titulo[page.lang] }}</div></header>
					<section><p class="margen-izq">{{edu.fecha[page.lang]}} {{edu.year}}. 
						{{edu.institucion}}. {{edu.ciudad}}.</p></section>
                                  </article>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<!--Sec. Experiencia-->
<section class="section-site0">
	<div class="wrapper">
		<h2>{{ site.data.secciones.experiencia[page.lang] }}</h2>
		<ul class="lista tarjeta">
			{% for exp in site.data.experiencia %}
				<li>
                                  <article class="item">
                                    <header>
					{% if exp.ico %}
						<figure class="icon blanco icono">
							{% include iconos/{{ exp.ico }} %}
						</figure>
					{% else %}<figure class="icono"><!--Vacio--></figure>
					{% endif %}
					<div class="titulo">{{exp.titulo[page.lang]}}</div>
                                    </header>
                                    <section>
					<p class="margen-izq">
						{{exp.fecha_in[page.lang]}}{{exp.fecha_out[page.lang]}}.
						 {{exp.ciudad[page.lang]}}. {{exp.rol[page.lang]}}. 
						{{exp.empresa[page.lang]}}.
					</p>
                                    </section>
                                  </article>
				</li>
			{% endfor %}
		</ul>
		<!-- RECONOCIMIENTOS -->
		<hr>
		<ul class="lista tarjeta">
			{% for reco in site.data.reconocimientos %}
				<li>
                                  <article class="item">
                                    <header>
					<figure class="icon blanco icono">{% include iconos/{{reco.ico}} %}
					</figure><div class="titulo">{{reco.titulo[page.lang]}}</div>
                                    </header>
                                    <section>
					<p class="margen-izq">
						{{reco.fecha[page.lang]}}. {{reco.ciudad}}. 
						{{reco.desc[page.lang]}}. {{reco.institucion}}.
					</p>
                                    </section>
                                  </article>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<!--Sec. Cursos y eventos-->
<section class="section-site1">
	<div class="wrapper">
		<h2>{{ site.data.secciones.cursos[page.lang] }}</h2>
		<ul class="lista tarjeta">
			{% for asistente in site.data.cursos %}
				<li>
                                  <article class="item">
                                    <header>
					{% if asistente.ico %}
					<figure class="icon tinto icono">
						{% include iconos/{{asistente.ico}} %}</figure>
					{% else %}<figure class="icono"><!--Vacio--></figure>
					{% endif %}
					<div class="titulo">{{asistente.titulo[page.lang]}}</div>
                                    </header>
                                    <section>
					<p class="margen-izq">
						{{asistente.fecha[page.lang]}}. {{asistente.lugar}}. 
						{{asistente.horas}} {{asistente.institucion[page.lang]}}.
					</p>
                                    </section>
                                  </article>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<!--Sec. Lenguajes y herramientas-->
<section class="section-site0">
	<div class="wrapper">
		<h2>{{ site.data.secciones.lenguajes[page.lang] }}</h2>
		<ul class="lista tarjeta">
			{% for her in site.data.herramientas %}				
				<li>
                                <article class="item">
                                  <header>
					<figure class="icon blanco icono">{% include iconos/{{her.ico}} %}
					</figure><div class="titulo">{{her.titulo[page.lang]}}</div>
                                  </header>
                                  <section>
					<ul class="tarjeta">
						{% for item in her.herramienta %}
							<li class="item-rating">
								<div class="herramienta-nombre">{{item.nombre}}</div> 
								{% include progress.html color=1 valor=item.valor %}
							</li>
						{% endfor %}
					</ul>
                                  </section>
                                </article>
				</li>
			{% endfor %}
		</ul>
		<!-- OBSERVACIONES -->
                <section class="lista tarjeta">
		<ul>
			{% for obs in site.data.observaciones %}
				{% if obs.tag == "herramientas" %}
					<li>
                                          <article class="item">
					    <figure class="icon blanco icono">{% include iconos/{{obs.ico}} %}
					    </figure><p class="observacion">{{obs.observacion[page.lang]}}</p>
                                          </article>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
                </section>
	</div>
</section>

<!--Sec. Habilidades, destrezas y otras-->
<section class="section-site1">
	<div class="wrapper">
		<div class="hab-des-ot">
			<h2>{{ site.data.secciones.habilidades[page.lang] }}</h2>
			<ul class="tarjeta">
				{% for hab in site.data.habilidades %}
					<li>
                                        <article class="item">
						{% if hab.titulo %}
                                                  <header>
							<figure class="icon tinto icono">{% include iconos/{{ hab.ico }} %}
							</figure><div class="titulo">{{hab.titulo[page.lang]}}</div>
                                                  </header>
							<ul class="tarjeta">
								{% for item in hab.lista %}
									<li class="item-rating">
										<div class="herramienta-nombre">{{item.nombre[page.lang]}}</div> 
										{% include progress.html color=0 valor=item.valor %}
									</li>
								{% endfor %}
							</ul>
						{% else %}
							<figure class="icon tinto icono">{% include iconos/{{ hab.ico }} %}
							</figure><p class="observacion">{{hab.habilidad[page.lang]}}</p>
						{% endif %}
                                        </article>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="hab-des-ot">
			<h2>{{ site.data.secciones.otras[page.lang] }}</h2>
			<ul class="tarjeta">
				{% for otra in site.data.otras %}
					<li>
                                        <article class="item">
                                          <header>
						<figure class="icon tinto icono">{% include iconos/{{otra.ico}} %}</figure>
						<div class="titulo">{{otra.titulo[page.lang]}}</div>
                                          </header>
						<ul class="tarjeta">
							{% for cap in otra.lista %}
								<li class="item-rating">
									<div class="herramienta-nombre">{{cap.nombre[page.lang]}}</div>
									{% include progress.html color=0 valor=cap.valor %}
								</li>
							{% endfor %}
						</ul>
                                        </article>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
