<section class="section-site0">
	<div class="wrapper">
		<img class="foto" 
			src="{% if page.lang != 'ESP' %}../{% endif %}assets/img/rostro.png">
		<div class="name">
			<div class="first-name">Raúl Andrés</div>
			<div class="last-name">Casanova</div>
			<div class="last-name2">Sosa</div>
			<div class="rif">Rif: V185657678</div>
		</div>
		<div class="cv">Curriculum vitae {{page.lang}}</div>
		<ul class="tarjeta">
			{% for dato in site.data.contacto %}
				{% if dato.tag != 'private' %}
				<li class="icon">{% include iconos/{{ dato.ico }} %} {{dato.desc}}</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="section-site1">
	<div class="wrapper">
		<h2>EDUCACIÓN</h2>
		<ul class="lista tarjeta">
			{% for edu in site.data.educacion %}
				<li class="item">
					<div class="icon tinto icono">{% include iconos/{{ edu.ico }} %}</div>
					<div class="titulo">{{edu.titulo}}</div>
					<p class="margen-izq">{{edu.fecha}} {{edu.institucion}} {{edu.ciudad}}</p>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="section-site0">
	<div class="wrapper">
		<h2>EXPERIENCIA</h2>
		<ul class="lista tarjeta">
			{% for exp in site.data.experiencia %}
				<li class="item">
					{% if exp.ico %}
						<div class="icon blanco icono">
							{% include iconos/{{ exp.ico }} %}
						</div>
					{% else %} <div class="icono"><!--Vacio--></div>
					{% endif %}
					<div class="titulo">{{exp.titulo}}</div>
					<p class="margen-izq">
						{{exp.fecha_in}}{{exp.fecha_out}} {{exp.ciudad}} {{exp.rol}} 
						{{exp.empresa}}
					</p>
				</li>
			{% endfor %}
		</ul>
		<hr><!-- RECONOCIMIENTOS -->
		<ul class="lista tarjeta">
			{% for reco in site.data.reconocimientos %}
				<li class="item">
					<div class="icon blanco icono">{% include iconos/{{ reco.ico }} %}</div>
					<div class="titulo">{{reco.titulo}}</div>
					<p class="margen-izq">
						{{reco.fecha}} {{reco.ciudad}} {{reco.desc}} {{reco.institucion}}
					</p>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="section-site1">
	<div class="wrapper">
		<h2>CURSOS Y EVENTOS</h2>
		<ul class="lista tarjeta">
			{% for asistente in site.data.cursos %}
				<li class="item">
					{% if asistente.ico %}
					<div class="icon tinto icono">{% include iconos/{{ asistente.ico }} %}</div>
					{% else %} <div class="icono"><!--Vacio--></div>
					{% endif %}
					<div class="titulo">{{asistente.titulo}}</div>
					<p class="margen-izq">{{asistente.fecha}} {{asistente.lugar}} 
						{{asistente.horas}} {{asistente.institucion}}
					</p>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="section-site0">
	<div class="wrapper">
		<h2>LENGUAJES Y HERRAMIENTAS</h2>
		<ul class="lista tarjeta">
			{% for her in site.data.herramientas %}				
				<li class="item">
					<div class="icon blanco icono">{% include iconos/{{ her.ico }} %}</div>
					<div class="titulo">{{her.titulo}}</div>
					<ul class="tarjeta">
						{% for item in her.herramienta %}
							<li class="item-rating">
								<div class="herramienta-nombre">{{item.nombre}}</div> 
								{% include progress.html color=1 valor=item.valor %}
							</li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
		<!-- OBSERVACIONES -->
		<ul class="lista tarjeta">
			{% for obs in site.data.observaciones %}
				{% if obs.tag == "herramientas" %}
					<li class="item">
					 <span class="icon blanco icono">{% include iconos/{{ obs.ico }} %}</span><p class="observacion">{{obs.observacion}}</p>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="section-site1">
	<div class="wrapper lista">
		<div>
			<h2>HABILIDADES Y DESTREZAS</h2>
			<ul class="tarjeta">
				{% for hab in site.data.habilidades %}
					<li class="item">
						{% if hab.titulo %}
							<div class="icon tinto icono">{% include iconos/{{ hab.ico }} %}</div><div class="titulo">{{hab.titulo}}</div>
							<ul class="tarjeta">
								{% for item in hab.lista %}
									<li class="item-rating">
										<div class="herramienta-nombre">{{item.nombre}}</div> 
										{% include progress.html color=0 valor=item.valor %}
									</li>
								{% endfor %}
							</ul>
						{% else %}
							<div class="icon tinto icono">{% include iconos/{{ hab.ico }} %}</div><p class="observacion">{{hab.habilidad}}</p>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div>
			<h2>OTRAS CAPACIDADES</h2>
			<ul class="tarjeta">
				{% for otra in site.data.otras %}
					<li class="item">
						<div class="icon tinto icono">{% include iconos/{{ otra.ico }} %}</div><div class="titulo">{{otra.titulo}}</div>
						<ul class="tarjeta">
							{% for cap in otra.lista %}
								<li class="item-rating">
									<div class="herramienta-nombre">{{ cap.nombre }}</div>
									{% include progress.html color=0 valor=cap.valor %}
								</li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
